# auto detect text files and perform LF normalization
*               text=auto

# force conversion to Unix format
*.sh            eol=lf

# force conversion to Windows format
*.bat           eol=crlf

# for the next files NOT found below, normalize CRLF into LF
*.gitattributes text
*.gitignore     text -crlf
*.md            text

# lines below are from Java.gitattributes
# https://github.com/Danimoth/gitattributes

#
# The above will handle all files NOT found below
#
# These files are text and should be normalized (Convert CRLF => LF)
*.css           text
*.df            text
*.htm           text
*.html          text
*.java          text
*.js            text
*.json          text
*.jsp           text
*.jspf          text
*.properties    text
*.sh            text
*.svg           text
*.tld           text
*.txt           text
*.xml           text

# unitex resources
*.def           text
*.dic           text
*.elg           text
*.fst2          text
*.grf           text
*.lst           text
*.rul           text
*.snt           text

# These files are binary and should be left untouched
# (binary is a macro for -text -diff)
*.class         binary
*.dll           binary
*.ear           binary
*.gif           binary
*.ico           binary
*.jar           binary
*.jpg           binary
*.jpeg          binary
*.png           binary
*.so            binary
*.war           binary

# unitex binaries
*.bin           binary
*.bin2          binary
*.bin3          binary
*.inf           binary

# export ignores
.editorconfig    export-ignore
.gitattributes   export-ignore
.gitignore       export-ignore
.gitignore.*     export-ignore
gitignore.*      export-ignore
.gitkeep         export-ignore
.travis.yml      export-ignore
.pullapprove.yml export-ignore
